{% extends 'base.html' %}

{% block content %}
<main class="main-content" id="mainContent" style="margin-top: 70px;">
    <div class="container mt-4">
        {% include 'head.html' %}
        <h2>{% if object %}Editar{% else %}Crear{% endif %} Familia</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                        {{ form.nombre }}
                        {% if form.nombre.errors %}
                        <div class="alert alert-danger">{{ form.nombre.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
                {{ form.descripcion }}
                {% if form.descripcion.errors %}
                <div class="alert alert-danger">{{ form.descripcion.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'catalogo:familia_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</main>
{% endblock %}